@charset "UTF-8";

@font-face {
  font-family: "kmm-recinto";
  src:url("fonts/kmm-recinto.eot");
  src:url("fonts/kmm-recinto.eot?#iefix") format("embedded-opentype"),
    url("fonts/kmm-recinto.woff") format("woff"),
    url("fonts/kmm-recinto.ttf") format("truetype"),
    url("fonts/kmm-recinto.svg#kmm-recinto") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "kmm-recinto" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="kmm-icon-"]:before,
[class*=" kmm-icon-"]:before {
  font-family: "kmm-recinto" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kmm-icon-cockpit-add:before {
  content: "\61";
}
.kmm-icon-cockpit-attachment:before {
  content: "\62";
}
.kmm-icon-cockpit-edit:before {
  content: "\63";
}
.kmm-icon-add:before {
  content: "\64";
}
.kmm-icon-agendamento:before {
  content: "\65";
}
.kmm-icon-balanca:before {
  content: "\68";
}
.kmm-icon-boat-from-front-view:before {
  content: "\69";
}
.kmm-icon-cacesso:before {
  content: "\6a";
}
.kmm-icon-calendar-edit:before {
  content: "\6b";
}
.kmm-icon-calendar-ok:before {
  content: "\6c";
}
.kmm-icon-calendar-with-a-clock-time-tools:before {
  content: "\6d";
}
.kmm-icon-cancel:before {
  content: "\6e";
}
.kmm-icon-checked:before {
  content: "\6f";
}
.kmm-icon-checked-list:before {
  content: "\70";
}
.kmm-icon-clock-circular-outline:before {
  content: "\71";
}
.kmm-icon-contact:before {
  content: "\72";
}
.kmm-icon-controladoria:before {
  content: "\73";
}
.kmm-icon-credit-card:before {
  content: "\74";
}
.kmm-icon-delete:before {
  content: "\75";
}
.kmm-icon-delivery-truck:before {
  content: "\76";
}
.kmm-icon-delivery-truck-silhouette:before {
  content: "\77";
}
.kmm-icon-descarga:before {
  content: "\78";
}
.kmm-icon-down-arrow:before {
  content: "\79";
}
.kmm-icon-download-to-storage-drive:before {
  content: "\7a";
}
.kmm-icon-estrangeiro:before {
  content: "\41";
}
.kmm-icon-file:before {
  content: "\42";
}
.kmm-icon-file-add:before {
  content: "\43";
}
.kmm-icon-fingerprint-solid:before {
  content: "\45";
}
.kmm-icon-fisica:before {
  content: "\46";
}
.kmm-icon-folder:before {
  content: "\47";
}
.kmm-icon-folder2:before {
  content: "\48";
}
.kmm-icon-folder-add:before {
  content: "\49";
}
.kmm-icon-carga:before {
  content: "\4a";
}
.kmm-icon-history-clock-button:before {
  content: "\4b";
}
.kmm-icon-id-card:before {
  content: "\4c";
}
.kmm-icon-image-add-button:before {
  content: "\4d";
}
.kmm-icon-inbox:before {
  content: "\4e";
}
.kmm-icon-keyword:before {
  content: "\4f";
}
.kmm-icon-logistics-delivery-truck-and-clock:before {
  content: "\50";
}
.kmm-icon-logistics-truck:before {
  content: "\51";
}
.kmm-icon-logout:before {
  content: "\52";
}
.kmm-icon-logout2:before {
  content: "\53";
}
.kmm-icon-long-right-arrow:before {
  content: "\54";
}
.kmm-icon-magnifying-glass:before {
  content: "\55";
}
.kmm-icon-manager:before {
  content: "\56";
}
.kmm-icon-menu:before {
  content: "\57";
}
.kmm-icon-modal-list:before {
  content: "\58";
}
.kmm-icon-more-button-interface-symbol-of-three-horizontal-aligned-dots:before {
  content: "\59";
}
.kmm-icon-motorista:before {
  content: "\5a";
}
.kmm-icon-next:before {
  content: "\30";
}
.kmm-icon-no-waiting:before {
  content: "\31";
}
.kmm-icon-ocean-transportation:before {
  content: "\32";
}
.kmm-icon-ocr:before {
  content: "\33";
}
.kmm-icon-old-typical-phone:before {
  content: "\34";
}
.kmm-icon-opened-email-envelope:before {
  content: "\36";
}
.kmm-icon-pdf-file:before {
  content: "\37";
}
.kmm-icon-pencil:before {
  content: "\38";
}
.kmm-icon-pencil-edit-button:before {
  content: "\39";
}
.kmm-icon-picture:before {
  content: "\21";
}
.kmm-icon-pie-chart:before {
  content: "\22";
}
.kmm-icon-play-button-sing:before {
  content: "\23";
}
.kmm-icon-plus:before {
  content: "\24";
}
.kmm-icon-printer:before {
  content: "\25";
}
.kmm-icon-printer-tool:before {
  content: "\26";
}
.kmm-icon-prohibition:before {
  content: "\27";
}
.kmm-icon-recepcao:before {
  content: "\28";
}
.kmm-icon-right-arrow-1:before {
  content: "\29";
}
.kmm-icon-round-error-symbol:before {
  content: "\2a";
}
.kmm-icon-schedule:before {
  content: "\2b";
}
.kmm-icon-sea-ship-with-containers:before {
  content: "\2c";
}
.kmm-icon-search:before {
  content: "\2d";
}
.kmm-icon-send:before {
  content: "\2e";
}
.kmm-icon-send2:before {
  content: "\2f";
}
.kmm-icon-send-message-button:before {
  content: "\3a";
}
.kmm-icon-settings:before {
  content: "\3b";
}
.kmm-icon-gestao-cadastros:before {
  content: "\3c";
}
.kmm-icon-shipped:before {
  content: "\3d";
}
.kmm-icon-silo:before {
  content: "\3e";
}
.kmm-icon-supervisorio:before {
  content: "\3f";
}
.kmm-icon-tick-inside-circle:before {
  content: "\40";
}
.kmm-icon-to-do-list:before {
  content: "\5b";
}
.kmm-icon-video-camera:before {
  content: "\5d";
}
.kmm-icon-xls-file:before {
  content: "\5e";
}
.kmm-icon-agendamento-1:before {
  content: "\66";
}
.kmm-icon-attached:before {
  content: "\67";
}
.kmm-icon-motorista-estrangeiro:before {
  content: "\5f";
}
.kmm-icon-finger-scan:before {
  content: "\44";
}
.kmm-icon-cancela-aberta:before {
  content: "\35";
}
.kmm-icon-cancela-fechada:before {
  content: "\60";
}
.kmm-icon-guindaste:before {
  content: "\7b";
}
.kmm-icon-integracao:before {
  content: "\7c";
}
.kmm-icon-portalrfb:before {
  content: "\7d";
}
